* {
  margin: 0;
  padding: 0;

}

body {
  background-color: white;
  box-sizing: border-box;
  /* width: 100%; */
  
}

.container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  
}

main {
  width: 100%;
  height: 700px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/groundb.jpg);
  background-position-x: 50%;
  background-position-y: 100%;
  /* background-size: 100%; */
  background-repeat: no-repeat;  
}

nav {
  height: 40px;
  /* max-width: 1000px; */
  width: 1000px;
  align-items: center;
  /* background-color: #7B7B7B; */
  background-image: linear-gradient(#5F5F5F 45%, #707070 50%, #757575);
  margin: 100px auto 30px auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

ul {
  /* width: 80%; */
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  /* display: flex;
  justify-content: space-around; */
}

li {
  float: left;
  /* display: inline; */
  /* width: 300px;/ */
  /* padding: 20px; */
  /* align-content: center;
  margin-right: 20px; */
  /* height: fit-content; */
}

li a {
  display: block;
  color: white;
  text-decoration: none; 
  padding: 10px 32px; 
  border-right: 1px solid #0D3B5A;
}

li a:hover{
  background: #575757;
}

.sm-h {
  margin-left: 200px;
  margin-top: 40px;
  color: white;
}

.sm-h a:hover{
  border-bottom: 1px solid white;
  margin: 0;
  color: white;
}

aside {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

