* {
  margin: 0;
  padding: 0;

}

body {
  background-color: white;
  box-sizing: border-box;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  /* width: 100%; */  
}

main {
  width: 1800px;
  height: 670px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  background-image: url(images/groundb.jpg);
  background-position-x: 50%;
  background-position-y: 100%;
  /* background-size: 100%; */
  background-repeat: no-repeat;  
}

.nav {
  /* position: absolute; */
  height: 40px;
  width: 1000px;
  /* width: 1000px; */
  /* align-items: center; */
  /* background-color: #7B7B7B; */
  background-image: linear-gradient(#5F5F5F 45%, #707070 50%, #757575);
  margin: 100px auto 30px auto;
  border-radius: 5px;
}

.nav a {  
  float: left;
  display: block;
  color: white;
  text-decoration: none; 
  padding: 10px 32px; 
  border-right: 1px solid rgb(65, 67, 68);
}

.nav a:hover {
  background: #575757;
}

.search-box {
  background-color: #757575;
}

.nav input[type=text] {
  position: absolute;
  overflow: hidden;
  /* float: right; */
  /* padding: 1px; */
  width: 120px;
  border-radius: 30px;
  margin: 8px 16px;
  border-width: 0 5px 0 1px;;
  background: none;
}


.sm-h {
  margin-left: 200px;
  margin-top: 40px;
  color: white;
}

.sm-h a:hover{
  border-bottom: 1px solid white;
  margin: 0;
  color: white;
}

aside {
  width: 1800px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  /* justify-items: center; */
  
}
.aside-img img {
  /* float: left; */
  width: 357px;
  height: 200px;
  margin: 2px;
}

footer {
  width: 980px;
  margin: 0 auto;
  padding: 1em 0 2.6em;
  /* font-size: .8334em; */
}

.left {
  float: left;
  font-size: .8334em;
  color: #757575;
}

.left a {
  text-decoration: none;
  color: #3F9BDC;
}

.right {
  float: right;
  list-style-type: none;
  margin: 0;
  font-size: .8334em;
  padding: 0;
}

.right a {
  text-decoration: none;
  color: #3F9BDC;
  margin-left: .6em;
  border-left: .1px solid #ccc;
  padding-left: .6em;
}


.clear {
  clear: both;
  margin-top: 30px;  
  font-size: .8334em;
  color: #757575;
}

.clear a {
  text-decoration: none;
  color: #3F9BDC;
  margin-left: .6em;
  border-left: 1px solid #ccc;
  padding-left: .6em;
}

footer a:hover {
  text-decoration: underline;
}

